body{
  margin: 0;
  padding: 0;
}

#main {
  font-family: monospace;
  font-size: 24px;
  float: unset;
  width: 100%;
  height: 100%;
  word-break: break-all;
  text-align: center;
}

.dark {
  background-color: #2d2d2d;
  color: #efefef;
}

.preserve-whitespace{
  white-space: pre-wrap;
}

.hovered {
  color: green;
  cursor: pointer;
}